<label class="w-full">
  <span class="text-preset-4 text-slate-700">{{ label() }}</span>
  <div
    [class.flex-row-reverse]="unit().position === 'left'"
    [class]="
      showErrors
        ? 'border-red bg-red'
        : 'border-slate-500 bg-slate-100 focus-within:!border-lime focus-within:bg-lime hover:border-slate-900'
    "
    class="mt-150 flex h-[3rem] items-center overflow-hidden rounded border text-preset-3"
  >
    <input
      [formControl]="control()"
      [max]="max()"
      [min]="min()"
      [step]="step()"
      class="peer h-full min-w-0 flex-1 px-200 outline-none"
      type="number"
    />
    <span
      [class]="
        showErrors ? 'text-white' : 'text-slate-700 peer-focus:text-slate-900'
      "
      class="flex-none px-200"
      >{{ unit().symbol }}</span
    >
  </div>
</label>
