<label class="flex w-full flex-col gap-150">
  <span class="text-preset-4 text-slate-700">{{ label() }}</span>
  <span
    [class.flex-row-reverse]="unit().position === 'left'"
    [class]="
      showErrors
        ? 'border-red bg-red'
        : isActive()
          ? 'border-lime bg-lime'
          : 'border-slate-500 bg-slate-100 hover:border-slate-900'
    "
    class="flex h-[3rem] items-center overflow-hidden rounded border text-preset-3 transition-colors duration-300 ease-out"
  >
    <input
      (focus)="refreshActiveState()"
      (input)="refreshActiveState()"
      [formControl]="control()"
      [max]="max()"
      [min]="min()"
      [step]="step()"
      class="h-full min-w-0 flex-1 px-200 text-slate-900 outline-none"
      type="number"
    />
    <span
      [class]="
        showErrors
          ? 'text-white'
          : isActive()
            ? 'text-slate-900'
            : 'text-slate-700'
      "
      class="flex-none px-200 transition-colors duration-300 ease-out"
      >{{ unit().symbol }}</span
    >
  </span>
  @if (showErrors) {
    <p @validationMessage class="text-preset-5 text-red">
      {{ control().errors! | error }}
    </p>
  }
</label>
